h1{
    font-size: 2.0rem;
    padding: 10px 0px 10px 10px;
    font-weight: bold;
}

button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid white;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

#knop1:hover{
    background-color: #c4c0c0;
    color: black;
    border: 2px solid #333;
    box-shadow: 2px 2px lightgray;
}

#knop2:active{
    transform: translateY(2px);
    background-color: #8f8c8c;
}

#knop3:focus{
    outline: 4px solid aqua;
    border-width: 0px;
    border-radius: 5%;
}